html#sweetp {
    .sweetp-menu {
        margin-bottom: 50px;
    }

    label .title {
        position: absolute;
        top: 20px;
        left: 65px;
        z-index: 9000;
        font-family:
            Source Sans Pro,
            Helvetica Neue,
            Helvetica,
            Arial,
            sans-serif;
        letter-spacing: 0;
    }

    label .title .light {
        font-weight: 200;
    }

    label .title a {
        margin-bottom: 0 !important;
    }

    label .title a::before {
        content: "";
        background: url("https://sweetpproductions.com/gfx/sweetp_logo.svg")
            no-repeat;
        background-size: 100% 100%;
        width: 24px;
        height: 30px;
        display: block;
        float: left;
        margin: 0 5px 0 0;
        z-index: 9000;
        filter: brightness(0) saturate(100%) invert(23%) sepia(0%) saturate(240%)
            hue-rotate(245deg) brightness(101%) contrast(83%);
    }

    label .sweetp-hamburger-menu {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        z-index: 9999;
        pointer-events: none;
    }

    label .sweetp-hamburger-menu::before {
        position: fixed;
        right: -100px;
        top: -100px;
        content: "";
        width: 200px;
        height: 200px;
        z-index: 9999;
        background: #e4e4e4;
        border-radius: 50% 50% 50% 50%;
        pointer-events: all;
        cursor: pointer;
    }

    label .sweetp-hamburger-menu::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100% + 1px);
        z-index: 10000;
        background: #e4e4e4;
        transition: opacity 0.5s ease-in-out;
        cursor: none;
        pointer-events: none;
        opacity: 0;
    }

    label .hamburger {
        position: fixed;
        top: 35px;
        right: 25px;
        width: 30px;
        height: 2px;
        background: #000;
        display: block;
        -webkit-transform-origin: center;
        transform-origin: center;
        transition: 0.5s ease-in-out;
        z-index: 10001;
    }

    label .hamburger:after,
    label .hamburger:before {
        transition: 0.5s ease-in-out;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: #000;
    }

    label .hamburger:before {
        top: -10px;
    }

    label .hamburger:after {
        bottom: -10px;
    }

    label input {
        display: none;
    }

    label input:checked + .sweetp-hamburger-menu::after {
        opacity: 1;
    }

    label input:checked + .sweetp-hamburger-menu .hamburger {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    label input:checked + .sweetp-hamburger-menu .hamburger:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        bottom: 0;
    }

    label input:checked + .sweetp-hamburger-menu .hamburger:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 0;
    }

    label input:checked + .sweetp-hamburger-menu + ul {
        opacity: 1;
        pointer-events: all;
    }

    /* full screen element behind the menu to stop pointer events passing behind */
    label input:checked + .sweetp-hamburger-menu + ul:before {
        content: "";
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        pointer-events: all;
        display: inline-block;
        opacity: 0;
        /* cut out a 50x50px square over the hamburger menu to allow pointer events */
        clip-path: polygon(
            0% 0%,
            0% 100%,
            calc(100% - 60px) 100%,
            calc(100% - 60px) 10px,
            calc(100% - 10px) 10px,
            calc(100% - 10px) 60px,
            calc(100% - 60px) 60px,
            calc(100% - 60px) 100%,
            100% 100%,
            100% 0%
        );
        z-index: -1;
    }

    label ul {
        z-index: 20000;
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
        text-align: center;
        white-space: nowrap;
        list-style-type: none;
        font-family:
            Source Sans Pro,
            Helvetica Neue,
            Helvetica,
            Arial,
            sans-serif;
        padding: 0;
        margin: 0;
        pointer-events: none;
        letter-spacing: normal;
    }

    label a,
    label a:hover,
    label a:visited {
        display: block;
        color: #474747 !important;
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
        line-height: 30px;
        margin-bottom: 30px;
    }

    label ul li {
        display: block !important;
    }

    label ul a,
    label ul a:visited {
        color: #656565 !important;
        transition: all 0.3s ease-in-out;
    }

    label ul a:hover {
        color: #474747 !important;
        transform: scale(1.2);
    }

    #bitcoin_social {
        height: 30px;
        margin: 20px 0 0 0;
        display: inline-block;
    }

    #bitcoin_social a {
        display: inline-flex;
    }

    #bitcoin_social img {
        height: 30px;
        width: 30px;
        padding: 0 !important;
        display: inline-block;
        margin: 0 10px;
    }

    .twitter {
        filter: brightness(0) saturate(100%) invert(38%) sepia(0%) saturate(1649%)
            hue-rotate(140deg) brightness(99%) contrast(81%);
    }

    @media (max-width: 991.98px) {
        label .title {
            left: 20px;
        }
    }

    @media screen and (max-width: 414px) {
        label .title {
            position: absolute;
            top: 10px;
            left: 10px;
        }

        label .title a {
            font-size: 24px !important;
        }

        label .title a::before {
            width: 19px;
            height: 24px;
            display: block;
            float: left;
            margin: 3px 4px 0 0;
        }
    }

    @media screen and (max-width: 375px) {
        label .title a {
            font-size: 20px !important;
        }

        label .title a::before {
            width: 16px;
            height: 20px;
            display: block;
            float: left;
            margin: 5px 3px 0 0;
        }
    }

    @media screen and (max-width: 320px) {
        label .title a {
            font-size: 15px !important;
        }

        label .title a::before {
            width: 12px;
            height: 15px;
            display: block;
            float: left;
            margin: 7px 2px 0 0;
        }
    }

    /* dark theme */
    @media (prefers-color-scheme: dark) {
        label .title a::before {
            filter: brightness(0) saturate(100%) invert(99%) sepia(10%)
                saturate(33%) hue-rotate(71deg) brightness(103%) contrast(79%);
        }

        label a,
        label a:hover,
        label a:visited {
            color: #e4e4e4 !important;
        }

        label .sweetp-hamburger-menu::before,
        label .sweetp-hamburger-menu::after {
            background: #171717;
        }

        label .hamburger,
        label .hamburger:after,
        label .hamburger:before {
            background: #e4e4e4 !important;
        }

        label ul a,
        label ul a:visited {
            color: #b4b4b4 !important;
        }

        label ul a:hover {
            color: #e4e4e4 !important;
        }

        .twitter {
            filter: brightness(0) saturate(100%) invert(76%) sepia(3%) saturate(44%)
                hue-rotate(332deg) brightness(94%) contrast(93%);
        }
    }
}
